* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #fffefe;
  color: black;
}

h1 {
  text-align: center;
  padding: 4vh 0;
}

button {
  cursor: pointer;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(69, 69, 73);
}

.todos-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  background-color: rgb(189, 183, 183);
  padding: 30px;
  margin-left: 450px;
  margin-right: 450px;
  border-radius: 10px;
  box-shadow: 20px;
}

#todo-input {
  border: none;
  border-radius: 10px;
}

.todos-input-wrapper input,
.todos-input-wrapper button {
  padding: 10px;
}

.todos-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  flex-direction: column;
  width: 100%;
  padding: 4vh 0;
}

.todo {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  width: 50%;
  font-size: 20px;
  padding: 2vh 0;
}

.todo button {
  padding: 5px 10px;
}

.completed {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  padding-left: 200px;
}

.incomplete {
  color: black;
  padding-left: 200px;
}